<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--<appender name="RollingFile" type="log4net.Appender.">
    <file value="errorLog/app.log" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d{hh:mm:ss} %message%newline" />
    </layout>
  </appender>-->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <!--do not remove file even if it is overriden in code-->
    <file value="" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>

<!--<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FXDBLogDBConn" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=FXDBLogDB1_DEV;Trusted_Connection=True" />
  </connectionStrings>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <log4net>
    <appender name="GlobalEventLogAppender" type="log4net.Appender.AdoNetAppender">
      
 --><!--Number of logs in the buffer before insert in the database--><!-- 
      <bufferSize value="1" />
       --><!--Filter to block messages other than INFO--><!-- 
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
      --><!--SQL config for the AdoNetAppender--><!--
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="FXDBLogDBConn" />
      <commandText value="GlobalEventInsert" />
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@DateTimeStamp" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@LogName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="System" />
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="@Class" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%class" />
      </parameter>
      <parameter>
        <parameterName value="@Method" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%method" />
      </parameter>
      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%username" />
      </parameter>
      <parameter>
        <parameterName value="@MachineName" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%property{log4net:HostName}" />
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="900" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
      <parameter>
        <parameterName value="@AdditionalInfo" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout" value="" />
      </parameter>
    </appender>
    <appender name="GlobalExceptionLogAppender" type="log4net.Appender.AdoNetAppender">
       --><!--Number of logs in the buffer before insert in the database--><!-- 
      <bufferSize value="1" />
       Filter to block messages other than ERROR 
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
      </filter>
      --><!--SQL config for the AdoNetAppender--><!--
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="FXDBLogDBConn" />
      <commandText value="GlobalExceptionInsert" />
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@DateTimeStamp" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm}" />
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="@Class" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%class" />
      </parameter>
      <parameter>
        <parameterName value="@Method" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%method" />
      </parameter>
      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%identity" />
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="900" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout" value="%exception" />
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="GlobalEventLogAppender" />
      <appender-ref ref="GlobalExceptionLogAppender" />
    </root>
  </log4net>
  </configuration>-->