<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal.txt">


  <!-- define various log targets -->
  <targets>
    <!-- write logs to database -->
    <target xsi:type="Database"
                name="fxdbLog"
                connectionString="${gdc:connectionString}"
                commandText="EXEC GlobalExceptionInsert @DateTimeStamp, @Thread, @Class, @Method, @UserName, @Message, @Exception">

      <!--<connectionString>${var:connectionString}</connectionString>--><!--
      --><!--<commandText>EXEC GlobalExceptionInsert @DateTimeStamp, @Thread, @Class, @Method, @UserName, @Message, @Exception</commandText>--><!--
      --><!--connectionString="Data Source=.\sqlexpress;Database=FXDBLogDB1_DEV;Trusted_Connection=True;"-->
      
      <!--https://github.com/nlog/nlog/wiki/Layout-Renderers-->-->
      <parameter name="@DateTimeStamp" layout="${date}"/>
      <parameter name="@Thread" layout="${threadid}"/>
      <parameter name="@Class" layout="${callsite:skipFrames=1:methodName=false:includeNamespace=false:includeSourcePath=false}"/>
      <!--<parameter name="@Class" layout="${stacktrace:Flat:topFrames=2:skipFrames=1}"/>-->
      <parameter name="@Method" layout="${callsite:skipFrames=1:className=false:includeNamespace=false:includeSourcePath=false}"/>
      <parameter name="@UserName" layout="${appdomain:format={1\}}"/>
      <!--<parameter name="@UserName" layout="${aspnet-user-identity}"/>-->
      <!--<parameter name="@UserName" layout="${iis-site-name}"/>-->
      <parameter name="@Message" layout="${message:withException=False}"/>
      <parameter name="@Exception" layout="${exception:tostring,Data:maxInnerExceptionLevel=10}"/>

    </target>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Warn" writeTo="fxdbLog" />
  </rules>
</nlog>